.section3{
    margin:15% 0;
    margin-left: 13%;
}
.section3-img{
    float: right;
    position:absolute;
    width:100%;
    height:100%;
    z-index:-1;
    left:0
}
.section3-img-2{
    margin-right: 331px;
    margin-top: -18%;
    height: 100%;
    z-index: -1;
 

   
}
/* .section_dot{
    position: absolute;
    right: 602px;
    top: 82rem;
} */
.blue{
    height: 100%;
    width: 80%;
}
.col1{
margin:5%;

}

.sub-heading-s3{
    margin-top: 30%;
    font-weight: 500;
}
.para-s3{
    margin:5% 0;
}

.col2{
    text-align:right;
}

.bluesection{
    position: absolute;
    width: 1116px;
    height: 617.99px;
    left: 0px;
    top: 1588.01px;
    
    background: #C4C4C4;
}
.ssecond{
    position: absolute;
width: 683px;
height: 105.66px;
left: 1116px;
top: 2198.9px;

/* background: #DC4F4F; */
transform: rotate(-180deg);
}
.Col{
    padding: 7% 5px 0px 0%;
    color: white;
}
.dot {
    height: 5px;
    width: 6px;
    line-height: 200%;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 1%;
    
    
    
  }

.dot{
   margin-left: 36rem;
    margin-top: -4rem;

}